@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Hallinta";
}

<h1 style="color: white">Hallinta</h1>
<hr />
<h2 style="color: white">Käyttäjät</h2>
<table class="table table-striped" style="color: white">
    <thead>
        <tr>
            <th>Käyttäjä</th>
            <th>Toiminnot</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser kayttaja in ViewBag.users)
        {
            <tr>
                <td style="color: white">@kayttaja.Email</td>
                <td>@Html.ActionLink("Poista", "PoistaKayttaja", "UserAdmin", new { id = kayttaja.Id },new { @class = "btn btn-danger" })
                @Html.ActionLink("Palauta Salasana", "PalautaSalasana", "UserAdmin", new { id = kayttaja.Id },new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>
<br />
<h2 style="color: white">Uusi käyttäjä</h2>
@using (Html.BeginForm("UusiKayttaja", "UserAdmin", FormMethod.Post))
{
    <table class="table" style="color: white">
        <tr>
            <th>Sähköposti</th>
            <td>@Html.TextBox("email")</td>
        </tr>
        <tr>
            <th>Salasana</th>
            <td>@Html.TextBox("password")</td>
        </tr>
        <tr>
            <th></th>
            <td><button type="submit" class="btn btn-dark">Luo</button></td>
        </tr>
    </table>
}