@model RuokalistaServer.ViewModels.IndexViewModel

@{
    ViewData["Title"] = Model.Ruokalista != null ? $"Viikon {Model.Ruokalista.WeekId} ruokalista" : "Tätä ruokalistaa ei ole olemassa";
}


<div class="text-center" style="font-family:'Ruokalistafont', sans-serif;">

    @{
        if(Model.Ruokalista != null)
        {
            @if (Model.ShowingCurrentWeeksMenu)
            {
                <div class="siteTitle">Tämän viikon(@Model.Ruokalista.WeekId) ruokalista</div>
            }
            else if (Model.ShowingNextWeeksMenu)
            {
                <div class="siteTitle">Seuraavan viikon(@Model.Ruokalista.WeekId) ruokalista</div>
            }
            else
            {
                <div class="siteTitle">Viikon @Model.Ruokalista.WeekId/@Model.Ruokalista.Year ruokalista</div>
            }



            <div class="@(Model.ShowingCurrentWeeksMenu && DateTime.Now.DayOfWeek == DayOfWeek.Monday ? "highlighted" : "")">
                <h3 class="dayTitle">Maanantai</h3>
                <h4 class="ruokaText">@Model.Ruokalista.Maanantai</h4>
            
            </div>
            <br />


            <div class="@(Model.ShowingCurrentWeeksMenu && DateTime.Now.DayOfWeek == DayOfWeek.Tuesday ? "highlighted" : "")">
                <h3 class="dayTitle">Tiistai</h3>
                <h4 class="ruokaText">@Model.Ruokalista.Tiistai</h4>

            </div>
            <br />

            <div class="@(Model.ShowingCurrentWeeksMenu && DateTime.Now.DayOfWeek == DayOfWeek.Wednesday ? "highlighted" : "")">
                <h3 class="dayTitle">Keskiviikko</h3>
                <h4 class="ruokaText">@Model.Ruokalista.Keskiviikko</h4>

            </div>
            <br />

            <div class="@(Model.ShowingCurrentWeeksMenu && DateTime.Now.DayOfWeek == DayOfWeek.Thursday ? "highlighted" : "")">
                <h3 class="dayTitle">Torstai</h3>
                <h4 class="ruokaText">@Model.Ruokalista.Torstai</h4>

            </div>
            <br />

            <div class="@(Model.ShowingCurrentWeeksMenu && DateTime.Now.DayOfWeek == DayOfWeek.Friday ? "highlighted" : "")">
                <h3 class="dayTitle">Perjantai</h3>
                <h4 class="ruokaText">@Model.Ruokalista.Perjantai</h4>

            </div>
            <br />

       

            <br />

            <p>G = gluteeniton, M = maidoton, L = laktoositon</p>
            
      }
      else
      {
            <div class="siteTitle">Tämän viikon ruokalistaa ei vielä ole</div>
      }

}


<div>
        <a class="btn btn-primary" onclick="window.location = '/Listaa';" style="margin: 0em 1em 0.5em 0em">&#x27F5; Edelliset viikot</a>
        

        @if (Model.Ruokalista != null && Model.NextWeeksMenuExists && !Model.ShowingNextWeeksMenu)
        {
            //jos vuosi on vaihtunut niin ei toimi
            <a class="btn btn-primary" onclick="window.location = '/@Model.Ruokalista.Year/@(Model.Ruokalista.WeekId + 1)';" style="margin: 0em 1em 0.5em 0em">Seuraava viikko &#x27F6;</a>
        }

</div>
</div>
<br />

