
@{
    ViewData["Title"] = "Ruokalista";
}


<div class="text-center" style="font-family:'Segoe UI';">

    @{
        if(ViewBag.RuokaOlemassa ?? false)
        {
            @if (ViewBag.NykyinenViikko ?? false)
            {
                <div class="siteTitle">Tämän viikon(@ViewBag.viikko) ruokalista</div>
            }
            else if (ViewBag.NytOnSeuraavaViikko ?? false)
            {
                <div class="siteTitle">Seuraavan viikon(@ViewBag.viikko) ruokalista</div>
            }
            else
            {
                <div class="siteTitle">Viikon(@ViewBag.viikko) ruokalista</div>
            }

        RuokalistaServer.Models.Ruokalista ruoka = ViewBag.ruokalista;

            if (ViewBag.Nykyinenviikko && DateTime.Now.DayOfWeek == DayOfWeek.Monday){
                <div class="dayTitle" style="color:orange">Maanantai</div>
                <div class="ruokaText" style ="color:orange">@ruoka.Maanantai</div>
            }
            else
            {
                <div class="dayTitle">Maanantai</div>
                <div class="ruokaText">@ruoka.Maanantai</div>
            }
           
            <br />


            if (ViewBag.Nykyinenviikko && DateTime.Now.DayOfWeek == DayOfWeek.Tuesday)
            {
                <div class="dayTitle" style="color:orange">Tiistai</div>
                <div class="ruokaText" style="color:orange">@ruoka.Tiistai</div>
            }
            else
            {
                <div class="dayTitle">Tiistai</div>
                <div class="ruokaText">@ruoka.Tiistai</div>
            }
          
            <br />


            if (ViewBag.Nykyinenviikko && DateTime.Now.DayOfWeek == DayOfWeek.Wednesday)
            {
                <div class="dayTitle" style="color:orange">Keskiviikko</div>
                <div class="ruokaText" style="color:orange">@ruoka.Keskiviikko</div>
            }
            else
            {
                <div class="dayTitle">Keskiviikko</div>
                <div class="ruokaText">@ruoka.Keskiviikko</div>
            }

            <br />

            if (ViewBag.Nykyinenviikko && DateTime.Now.DayOfWeek == DayOfWeek.Thursday)
            {
                <div class="dayTitle" style="color:orange">Torstai</div>
                <div class="ruokaText" style="color:orange">@ruoka.Torstai</div>
            }
            else
            {
                <div class="dayTitle">Torstai</div>
                <div class="ruokaText">@ruoka.Torstai</div>
            }

            <br />

            if (ViewBag.Nykyinenviikko && DateTime.Now.DayOfWeek == DayOfWeek.Friday)
            {
                <div class="dayTitle" style="color:orange">Perjantai</div>
                <div class="ruokaText" style="color:orange">@ruoka.Perjantai</div>
            }
            else
            {
                <div class="dayTitle">Perjantai</div>
                <div class="ruokaText">@ruoka.Perjantai</div>
            }

            <br />

            <p>G = gluteeniton, M = maidoton, L = laktoositon</p>
            
      }
      else
      {
            <div class="siteTitle">Tämän viikon ruokalistaa ei vielä ole</div>
      }

}


<div>
        <a class="btn btn-primary" onclick="window.location = '/Listaa';" style="margin: 0em 1em 0.5em 0em">&#x27F5; Edelliset viikot</a>
    @if(@ViewBag.Nykyinenviikko){
if(@ViewBag.SeuraavaViikko != null){
                <a class="btn btn-primary" onclick="window.location = '/?weekId=@ViewBag.SeuraavaViikkoNumero&Year=@ViewBag.Vuosi';" style="margin: 0em 1em 0.5em 0em">Seuraava viikko &#x27F6;</a>
}
}

</div>
</div>
<br />


