@model IEnumerable<RuokalistaServer.Models.Ruokalista>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["ManageMenus"];
    var currentWeek = System.Globalization.ISOWeek.GetWeekOfYear(DateTime.Now);
}

<style>
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; /* optional: prevent flicker */
    }

</style>

<script>
    function printRL(year, week, isKasvis){
        var url = '/' + year + "/" + week + "?printing=true";
        
        if (isKasvis){
            url = '/kasvisruokalista/' + year + "/" + week + "?printing=true";
        }
        
        const printWindow = window.open(url, '_blank');
        printWindow.onload = function () {
            printWindow.print();
        };
    }
</script>

<h1>@Localizer["ManageMenus"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">➕ @Localizer["CreateNewMenu"]</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @if(item.WeekId == currentWeek && item.Year == DateTime.Now.Year)
                    {
                        <h2 class="highlighted">@Localizer["Week"] @Html.DisplayFor(modelItem => item.WeekId)</h2>
                    }
                    else
                    {
                        <h2>@Localizer["Week"] @Html.DisplayFor(modelItem => item.WeekId)</h2>
                    }
                </td>
            <td>
                    <h4>@Html.DisplayFor(modelItem => item.Year)</h4>
            </td>
           
            <td style="text-align:center">
                
                @if (GlobalConfig.KasvisruokalistaEnabled)
                {
                    <div class="dropdown d-inline-block">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="printDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            🖨️
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="printDropdown">
                            <li>
                                <a class="dropdown-item" href="#" onclick="printRL(@item.Year, @item.WeekId, false)">🖨️ @Localizer["PrintMenu"]</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" onclick="printRL(@item.Year, @item.WeekId, true)">🖨️ @Localizer["PrintVegetarianMenu"]</a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <button class="btn btn-primary" type="button" onclick="printRL(@item.Year, @item.WeekId, false)">
                        🖨️
                        </button>
                }


                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">📝 @Localizer["Edit"]</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">🗑️ @Localizer["Delete"]</a>
                    <a class="btn btn-primary" href="/RuokalistaAdmin/SetBG?ruokalistaId=@item.Id">🏞️ @Localizer["SelectBackground"]</a>
                    
            </td>
        </tr>
}
    </tbody>
</table>
