@model IEnumerable<RuokalistaServer.Models.Ruokalista>

@{
    ViewData["Title"] = "Hallitse ruokalistoja";
    var currentWeek = System.Globalization.ISOWeek.GetWeekOfYear(DateTime.Now);
}

<style>
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; /* optional: prevent flicker */
    }

</style>

<script>
    function printRL(year, week, isKasvis){
        var url = '/' + year + "/" + week + "?printing=true";
        
        if (isKasvis){
            url = '/kasvisruokalista/' + year + "/" + week + "?printing=true";
        }
        
        const printWindow = window.open(url, '_blank');
        printWindow.onload = function () {
            printWindow.print();
        };
    }
</script>

<h1>Hallitse ruokalistoja</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">➕ Luo uusi ruokalista</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @if(item.WeekId == currentWeek && item.Year == DateTime.Now.Year)
                    {
                        <h2 class="highlighted">Viikko @Html.DisplayFor(modelItem => item.WeekId)</h2>
                    }
                    else
                    {
                        <h2>Viikko @Html.DisplayFor(modelItem => item.WeekId)</h2>
                    }
                </td>
            <td>
                    <h4>@Html.DisplayFor(modelItem => item.Year)</h4>
            </td>
           
            <td style="text-align:center">
                <!--- Add option to directly print if kasvisruokalista is not enabled and also fix hovering   --->
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="printDropdown" data-bs-toggle="dropdown" aria-expanded="false">🖨️</button>
                    <ul class="dropdown-menu" aria-labelledby="printDropdown">
                        <li>
                            <a class="dropdown-item" href="#" onclick="printRL(@item.Year, @item.WeekId, false)">🖨️ Tulosta ruokalista</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="printRL(@item.Year, @item.WeekId, true)">🖨️ Tulosta kasvisruokalista</a>
                        </li>
                    </ul>
                </div>

                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">📝 Muokkaa</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">🗑️ Poista</a>
                    <a class="btn btn-primary" href="/RuokalistaAdmin/SetBG?ruokalistaId=@item.Id">🏞️ Valitse taustakuva</a>
                    
            </td>
        </tr>
}
    </tbody>
</table>
