@model RuokalistaServer.ViewModels.IndexViewModel

@{
    var IsEmbedded = false;
    if(ViewBag.Embed != null)
    {
        if(ViewBag.Embed == true)
        {
            Layout = "_LayoutApp";
            IsEmbedded = true;
        }
    }

    if(Model.Ruokalista != null)
    {
        if (Model.Printing)
        {
            ViewData["Title"] = $"Viikko {Model.Ruokalista.WeekId}";
        }
        else if (Model.ShowingCurrentWeeksMenu)
        {
            ViewData["Title"] = "Tämän viikon ruokalista";
        }
        else
        {
            ViewData["Title"] = $"Viikon {Model.Ruokalista.WeekId} ruokalista";
        }
        
    }
    else
    {
        ViewData["Title"] = "Tätä ruokalistaa ei ole olemassa";
    }
}


<div class="text-center print-ensure-display" style="font-family:'Ruokalistafont', sans-serif;">

    @{
        if(Model.Ruokalista != null)
        {
            if (Model.Printing && Model.ShowingKasvisruokalista)
            {
                <div class="siteTitle">Viikon @Model.Ruokalista.WeekId kasvisruokalista</div>
            }
            else if (Model.Printing)
            {
                <div class="siteTitle">Viikon @Model.Ruokalista.WeekId ruokalista</div>
            }
            else if (Model.ShowingCurrentWeeksMenu && Model.ShowingKasvisruokalista)
            {
                <div class="siteTitle">Tämän viikon(@Model.Ruokalista.WeekId) kasvisruokalista</div>
            }
            else if (Model.ShowingNextWeeksMenu && Model.ShowingKasvisruokalista)
            {
                <div class="siteTitle">Seuraavan viikon(@Model.Ruokalista.WeekId) kasvisruokalista</div>
            }
            else if (Model.ShowingNextWeeksMenu)
            {
                <div class="siteTitle">Seuraavan viikon(@Model.Ruokalista.WeekId) ruokalista</div>
            }
            
            else if(Model.ShowingCurrentWeeksMenu)
            {
                <div class="siteTitle">Tämän viikon(@Model.Ruokalista.WeekId) ruokalista</div>
            }
            
            else if (Model.ShowingKasvisruokalista)
            {
                <div class="siteTitle">Viikon @Model.Ruokalista.WeekId/@Model.Ruokalista.Year kasvisruokalista</div>
            }
            else
            {
                <div class="siteTitle">Viikon @Model.Ruokalista.WeekId/@Model.Ruokalista.Year ruokalista</div>
            }



            <div class="@(!Model.Printing && Model.ShowingCurrentWeeksMenu && DateTime.Now.DayOfWeek == DayOfWeek.Monday ? "highlighted" : "")">
                <h3 class="dayTitle">Maanantai</h3>
                <h4 class="ruokaText">@Model.Ruokalista.Maanantai</h4>
            
            </div>
            <br />


            <div class="@(!Model.Printing && Model.ShowingCurrentWeeksMenu && DateTime.Now.DayOfWeek == DayOfWeek.Tuesday ? "highlighted" : "")">
                <h3 class="dayTitle">Tiistai</h3>
                <h4 class="ruokaText">@Model.Ruokalista.Tiistai</h4>

            </div>
            <br />

            <div class="@(!Model.Printing && Model.ShowingCurrentWeeksMenu && DateTime.Now.DayOfWeek == DayOfWeek.Wednesday ? "highlighted" : "")">
                <h3 class="dayTitle">Keskiviikko</h3>
                <h4 class="ruokaText">@Model.Ruokalista.Keskiviikko</h4>

            </div>
            <br />

            <div class="@(!Model.Printing && Model.ShowingCurrentWeeksMenu && DateTime.Now.DayOfWeek == DayOfWeek.Thursday ? "highlighted" : "")">
                <h3 class="dayTitle">Torstai</h3>
                <h4 class="ruokaText">@Model.Ruokalista.Torstai</h4>

            </div>
            <br />

            <div class="@(!Model.ShowingCurrentWeeksMenu && DateTime.Now.DayOfWeek == DayOfWeek.Friday ? "highlighted" : "")">
                <h3 class="dayTitle">Perjantai</h3>
                <h4 class="ruokaText">@Model.Ruokalista.Perjantai</h4>

            </div>
            <br />

       

            <br />

            <p>G = gluteeniton, M = maidoton, L = laktoositon</p>
            
      }
      else
      {
            <div class="siteTitle">Tämän viikon ruokalistaa ei vielä ole</div>
      }

}

    @if (!IsEmbedded)
    {
        <div class="no-print">
            @if (Model.KasviruokalistaExists && !Model.ShowingKasvisruokalista && Model.Ruokalista != null)
            {
                <a class="btn" style="background-color: forestgreen; color:white; font-size: 1.3em;  margin: 0.5em 0em 0.5em 0em" href="/Kasvisruokalista/@Model.Ruokalista.Year/@Model.Ruokalista.WeekId">Kasvisruokalista</a>
            }
            else if (Model.Ruokalista != null && Model.KasviruokalistaExists)
            {
                <a class="btn btn-primary" style="font-size: 1.3em;  margin: 0.5em 0em 0.5em 0em" href="/@Model.Ruokalista.Year/@Model.Ruokalista.WeekId">Ruokalista</a>
            }


            <div>
                <a class="btn btn-primary" href="/Listaa" style="margin: 0em 0.5em 0.5em 0em;">&#x27F5; Kaikki ruokalistat</a>


                @if (Model.Ruokalista != null && Model.NextWeeksMenuExists && !Model.ShowingNextWeeksMenu)
                {
                    //jos vuosi on vaihtunut niin ei toimi
                    <a class="btn btn-primary" href="/@Model.Ruokalista.Year/@(Model.Ruokalista.WeekId + 1)" style="margin: 0em 0em 0.5em 0em">Seuraava viikko &#x27F6;</a>
                }

            </div>
        </div>
    }


    

</div>
<br />

